@model List<PJ_MSIT143_team02.Models.Discount>

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/acti-and-disc.css" rel="stylesheet" />
<div id="mainbox">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>詳細折扣資訊</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="rooms-section spad">
        <div class="container row" style="margin:auto">
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="room-item card">
                    <div id="textcard" class="card-body">
                        <h4 class="col-sm-10 card-title">
                            @Html.DisplayFor(model => model[0].DiscountName)
                        </h4>
                        <p class="col-sm-10 card-text">
                            @Html.DisplayFor(model => model[0].DiscountInfo)
                        </p>
                        @foreach (var item in Model){
                            @if (string.IsNullOrEmpty(item.Coupon))
                            {
                                <p class="col-sm-10 card-text">
                                    此優惠需配合信用卡結帳
                                </p>
                            }
                            else
                            {
                                <p class="col-sm-10 card-text">
                                    優惠碼: @Html.DisplayFor(model => item.Coupon)
                                </p>                                
                            }

                        }
                    </div>
                </div>
            </div>
            <div id="imgcard" class="col-lg-6 col-md-6 mb-4">
                <div class="room-item card">
                    <img id="setImg" class="card-img-top"/>
                </div>
            </div>
            <div class="col-md-6">
                <a asp-action="DiscountMain" class="btn btn-light">回上頁</a>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $(function (){
            $("#setImg").attr("src", "../../Image/dis" + @Html.DisplayFor(model => model[0].RoomDiscountId) + ".jpg")
            setTimeout(function () {
                function reloadUsingLocationHash() {
                    window.location.hash = "reload";
                }
                window.onload = reloadUsingLocationHash();
                $("#textcard").height($("#imgcard").height() - 72);
            }, 5);
        });
    </script>
}