@model IEnumerable<PJ_MSIT143_team02.ViewModel.CRoomViewModel>

@{
    ViewData["Title"] = "List";
}



<div class="container">
    <p>
        <a asp-action="CartView">檢視購物車</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    序
                </th>
                <th>
                    房間名稱
                </th>
                <th>
                    數量
                </th>
                <th>
                    價格
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @*<img src="~/images/@item.FImagePath" width="180" height="140" />*@
                            <br />
                            <h2>@Html.DisplayFor(modelItem => item.RoomName)</h2>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomPrice)
                        </td>
                        <td>
                            @Html.ActionLink("加入購物車", "AddToCart", new { id = item.RoomId })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>