@model PJ_MSIT143_team02.Models.Comment

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "Edit";
}

<h1 style="text-align:center">評論維護</h1>
<hr />

<div class="row" style="min-block-size:1000px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="CommentId" class="control-label"></label>
                <input asp-for="CommentId" class="form-control" />
                <span asp-validation-for="CommentId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="MemberAccount" class="control-label"></label>
                <input asp-for="MemberAccount" class="form-control" />
                <span asp-validation-for="MemberAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">評分</label>
                <input asp-for="CommentPoint" id="point" class="form-control" disabled />
                <span asp-validation-for="CommentPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">評論</label>
                <textarea asp-for="CommentDetail" id="comment" class="form-control" style="height:200px" disabled></textarea>
                <span asp-validation-for="CommentDetail" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CommentStatus" class="control-label"></label>
                <input asp-for="CommentStatus" id="status" class="form-control" />
                <span asp-validation-for="CommentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="save" value="儲存" class="btn btn-primary" hidden />
                <input type="button" id="block" value="隱藏" class="btn btn-primary" />
                <input type="button" id="unblock" value="取消隱藏" class="btn btn-primary" disabled />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">回上頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>$('#Comment').addClass('active');</script>
    <script>
        $(function () {
            if ($("#status").val() == "no") {
                $("#unblock").removeAttr("disabled");
                $("#block").attr("disabled", true);
            }
        })
        $("#save").click(function () {
            $("#point").removeAttr("disabled");
            $("#comment").removeAttr("disabled");
            if ($("#point").val() > 5 || $("#point").val() < 1) {
                window.alert("評分需在1 - 5之間");
                return;
            } else {
                $("#save").get(0).type = "submit";
            }
        })
        $("#block").click(function () {
            $("#status").val("no");
            var result = confirm("確定要隱藏該評論嗎?");
            if (result) {
                $("#save").click();
            }
        })
        $("#unblock").click(function () {
            $("#status").val("yes");
            var result = confirm("確定要取消隱藏該評論嗎?");
            if (result) {
                $("#save").click();
            }
        })
    </script>
}
