@model PJ_MSIT143_team02.ViewModel.CLoginViewModel

@{ ViewData["Title"] = "會員登入"; }

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>會員登入</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="txtAccount" class="control-label">帳號</label>
                <input asp-for="txtAccount" class="form-control" />
                <span asp-validation-for="txtAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="txtPassword" class="control-label">密碼</label>
                <input asp-for="txtPassword" class="form-control" />
                <span asp-validation-for="txtPassword" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input  class="form-check-input me-1" type="checkbox" value="" id="passwordcheck" checked="checked">
                <label  class="form-check-label" for="exampleCheck1">顯示密碼</label>
            </div>
            <div class="form-group">
                <input type="submit" value="登入" class="btn btn-primary" />
            </div>
        </form>
        <button class="btn btn-primary" style="margin:5px" onclick="Demo1()">Demo:一般會員</button>
        <br />
        <button class="btn btn-primary" style="margin: 5px" onclick="Demo2()">Demo:業主</button>
        <br />
        <button class="btn btn-primary" style="margin: 5px " onclick="Demo3()">Demo:管理員</button>
    </div>
    <div class="col-md-4"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function Demo1() {
        $('#txtAccount').val('asdf1234');
        $('#txtPassword').val('asdf1234');
    }
    function Demo2() {
        $('#txtAccount').val('Dermot');
        $('#txtPassword').val('Dermot');
    }
    function Demo3() {
        $('#txtAccount').val('Admin');
        $('#txtPassword').val('Admin');

    }
    $(document).ready(function () {
        passwordchange()
        $("#passwordcheck").attr('onclick', 'passwordchange()')
    })
    function passwordchange() {
        if ($('#txtPassword').attr("type") == ("text")) {
            $('#txtPassword').attr("type", "password");
        } else {
            $('#txtPassword').attr("type", "text");
        }
    }
</script>
}
