@model PJ_MSIT143_team02.ViewModels.CMemberPassword

@{ ViewData["Title"] = "會員註冊"; }

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>會員註冊</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="MemberId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MemberAccount" class="control-label">會員帳號</label>
                <input asp-for="MemberAccount" class="form-control"  />
                <span asp-validation-for="MemberAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPassword" class="control-label">會員密碼</label>
                <input asp-for="MemberPassword" class="form-control" />
                <span asp-validation-for="MemberPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label">會員姓名</label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">會員生日</label>
                <input type="text" asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPhone" class="control-label">會員電話</label>
                <input asp-for="MemberPhone" class="form-control" />
                <span asp-validation-for="MemberPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberEmail" class="control-label">會員信箱</label>
                <input asp-for="MemberEmail" class="form-control" />
                <span asp-validation-for="MemberEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label">居住城市</label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="註冊 " class="btn btn-primary" />
            </div>

        </form> 
        <div>
            <button class="btn btn-primary" onclick="RegisterDemo()">DEMO</button>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function RegisterDemo() {
        $('#MemberAccount').val("asdf1234")
        $('#MemberPassword').val("asdf1234")
        $('#MemberName').val("方大同")
        $('#BirthDate').val("1985/08/15")
        $('#MemberPhone').val("0956823478")
        $('#MemberEmail').val("z47985641@gmail.com")
        $('#CityName').val("新北市")
    }

</script>
}
