@model IEnumerable<PJ_MSIT143_team02.ViewModels.CLikelist>

@{
    ViewData["Title"] = "LikeListPhoto";
}

<h1>LikeListPhoto</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageID)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageID)
            </td>
        </tr>
}
    </tbody>
</table>
