@model PJ_MSIT143_team02.Models.Member

@{
    ViewData["Title"] = "MemberPersonalEdit";
}



<hr />
<h1 style="text-align:center">個人資料修改</h1>
<form asp-action="MemberPersonalEdit">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div style="height:200px;margin:10px" class="column">
                <div class="col-md-3" style="height: 139px; float: left"></div>
                <div class="col-md-6" style=" float: left"><img style=" padding:5px" src="@Url.Action("MemberPhoto","Member",new { ItemId = Model.MemberId })" /></div>
                <div class="col-md-3" style="height: 139px; float: left"></div>

            </div>
            <div style=" height: 300px ">

                <div class="col-md-6" style="float: left">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" name="MemberId" value="@Model.MemberId" />
                        <label asp-for="MemberName" class="control-label">姓名</label>
                        <input asp-for="MemberName" class="form-control" />
                        <span asp-validation-for="MemberName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberAccount" class="control-label">帳號</label>
                        <input asp-for="MemberAccount" class="form-control" />
                        <span asp-validation-for="MemberAccount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label">生日</label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6" style=" float: left ">
                    <div class="form-group">
                        <label asp-for="MemberPhone" class="control-label">電話</label>
                        <input asp-for="MemberPhone" class="form-control" />
                        <span asp-validation-for="MemberPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberEmail" class="control-label">電子郵件</label>
                        <input asp-for="MemberEmail" class="form-control" />
                        <span asp-validation-for="MemberEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CityName" class="control-label">居住地址</label>
                        <input asp-for="CityName" class="form-control" />
                        <span asp-validation-for="CityName" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"><input type="submit" value="Save" class="btn btn-primary" /></div>
                <div class="col-md-5"></div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</form>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
