@model PJ_MSIT143_team02.Models.Member

@{
    ViewData["Title"] = "MemberPersonalEdit";
}



<hr />
    <h1 style="text-align:center">MemberPersonalEdit</h1>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form asp-action="MemberPersonalEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" name="MemberId" value="@Model.MemberId" />
                    <label asp-for="MemberName" class="control-label"></label>
                    <input asp-for="MemberName" class="form-control" />
                    <span asp-validation-for="MemberName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MemberPhone" class="control-label"></label>
                    <input asp-for="MemberPhone" class="form-control" />
                    <span asp-validation-for="MemberPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MemberEmail" class="control-label"></label>
                    <input asp-for="MemberEmail" class="form-control" />
                    <span asp-validation-for="MemberEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CityName" class="control-label"></label>
                    <input asp-for="CityName" class="form-control" />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
