@model PJ_MSIT143_team02.ViewModels.CMemberPassword

@{
    ViewData["Title"] = "MemberPasswordEdit";
}



<hr />
<h1 style="text-align:center">密碼變更</h1>
<div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="MemberPasswordEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="height:80px">
                <label asp-for="MemberPassword" class="control-label">目前密碼</label>
                <input asp-for="MemberPassword" class="form-control" />
                <span asp-validation-for="MemberPassword" class="text-danger"></span>
                <p id="AlertOld"></p>
            </div>
            <div class="form-group">
                <label asp-for="MemberNewPassword" class="control-label">新密碼</label>
                <input asp-for="MemberNewPassword" class="form-control" />
                <span asp-validation-for="MemberNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">確認新密碼</label>
                <input id="MembercheckPassword" class="form-control" />
            </div>
            <div class="form-group" style="height:50px">
                <p id="Alert"></p>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input me-1" type="checkbox" value="" id="passwordcheck">
                <label class="form-check-label" for="exampleCheck1">顯示密碼</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <button class="btn btn-primary" style="margin: 5px " onclick="Demo()">Demo</button>
    </div>
    <div class="col-md-4"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        function Demo() {
            $('#oldpassword').val('asdf1234');
            $('#MemberNewPassword').val('1234asdf');
            $('#MembercheckPassword').val('1234asdf');
        }
        $(document).ready(function () {
            passwordchange()
            $("#passwordcheck").attr('onclick', 'passwordchange()')
        })
        function passwordchange() {
            if ($('#MemberNewPassword').attr("type") == ("text")) {
                $('#MemberNewPassword').attr("type", "password");
                $('#MembercheckPassword').attr("type", "password");
            } else {
                $('#MemberNewPassword').attr("type", "text");
                $('#MembercheckPassword').attr("type", "text");
            }
        }
        $('#MembercheckPassword').on("keyup", function () {
            if ($('#MemberNewPassword').val() != "") {
                if ($('#MembercheckPassword').val() != $('#MemberNewPassword').val()) {
                    $('#Alert').text("新密碼不一致請再確認")
                } else {
                    $('#Alert').text("新密碼符合")
                }
            }

        })
    // 密碼驗證再接再勵
    @*$('#MemberPassword').on("keyup", function () {
            if ($('#oldpassword').val() != "@ViewBag.oldpassword"){
                    $('#AlertOld').text("密碼有誤")
                } else {
                    $('#AlertOld').text("密碼正確")
                }
            })*@
</script>
}
