@model List<PJ_MSIT143_team02.Models.Equipment>

@{
    //ViewData["Title"] = "Equipment";
}

<ul class="ap-services">
    @foreach (var item in Model)
    {
        <li class="col-lg-4 justify-content-between align-items-center" style="display:inline-block;padding-bottom:10px;">
            <img src="~/Image/check_sign_icon.png" height="24" />&nbsp;
            <img src="~/Image/eqp@(item.EquipmentId).png" height="48" />&nbsp;<span>@item.EquipmentName</span>
        </li>
    }
</ul>