@model List<PJ_MSIT143_team02.Models.Equipment>

@{
    //ViewData["Title"] = "Equipment";
}

<ul class="ap-services">
    <li class="d-flex justify-content-between align-items-center">
        <span>游泳池</span><img src="~/Image/swimming_icon.png" height="48" />
        <img src="~/Image/remove.png" height="24" />
    </li>
    <li class="d-flex justify-content-between align-items-center">
        <span>健身房</span><img src="~/Image/gym_icon.png" height="48" />
        <img src="~/Image/remove.png" height="24" />
    </li>
    <li class="d-flex justify-content-between align-items-center">
        <span>Wi-fi</span><img src="~/Image/wifi_icon.png" height="48" />
        <img src="~/Image/check_sign_icon.png" height="24" />
    </li>
    <li class="d-flex justify-content-between align-items-center">
        <span>客房服務</span><img src="~/Image/service.png" height="48" />
        <img src="~/Image/remove.png" height="24" />
    </li>
</ul>