@model List<PJ_MSIT143_team02.Models.Activity>

@{
//ViewData["Title"] = "Activity";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-12" id="data">
            <div class="breadcrumb-text" style="text-align:left">
                <a href='@Url.Action("Details","Activity", new { id = item.ActivityId })'>@item.ActivityName</a>
            </div>
        </div>
    }
    <div class="col-lg-12" id="link">
        <br />
        <a asp-area="" asp-controller="Activity" asp-action="ActivityDisplay">查看所有活動</a>
    </div>
</div>
