
@{
    ViewData["Title"] = "MemnerMainPage";
}

<section class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2> </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <a asp-area="" asp-controller="Member" asp-action="MemberPersonalData" style="color:aliceblue">
                    <div class="service-item">
                        <img src="../img/Admin/Menber.png" width="75" />
                        <h4>個人資料變更</h4>
                        <p>
                            提供個人資料及聯絡方式
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a asp-area="" asp-controller="Member" asp-action="MemberPasswordEdit" style="color:aliceblue">
                    <div class="service-item">
                        <img src="../img/Admin/Room.png" width="75" />
                        <h4>登入</h4>
                        <p>
                            密碼定期變更確保帳號安全
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a asp-area="" asp-controller="" asp-action="" style="color:aliceblue">
                    <div class="service-item">
                        <img src="../img/Admin/Order.png" width="75" />
                        <h4>訂單管理</h4>
                        <p>
                            檢視過往訂單、管理新訂單
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a asp-area="" asp-controller="" asp-action="" style="color:aliceblue">
                    <div class="service-item">
                        <img src="../img/Admin/Activity_B.png" width="75" />
                        <h4>通知</h4>
                        <p>
                            檢視各式通知
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a asp-area="" asp-controller="" asp-action="" style="color:aliceblue">
                    <div class="service-item">
                        <img src="../img/Admin/Discount.png" width="75" />
                        <h4>付款及收款</h4>
                        <p>
                            檢視付款、收款、優惠券
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a asp-area="" asp-controller="Order" asp-action="AddToCart" style="color:aliceblue">
                    <div class="service-item">
                        <img src="../img/Admin/Comment.png" width="75" />
                        <h4>購物車</h4>
                        <p>
                            為自己規劃旅行吧!
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a asp-area="" asp-controller="" asp-action="" style="color:aliceblue">
                    <div class="service-item">
                        <img src="" width="75" />
                        <h4></h4>
                        <p>

                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a asp-area="" asp-controller="Member" asp-action="LikeList" style="color:aliceblue">
                    <div class="service-item">
                        <img src="../img/Admin/Comment.png" width="75" />
                        <h4>追蹤清單</h4>
                        <p>
                            看看那些地方是你心之所向
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a asp-area="" asp-controller="" asp-action="" style="color:aliceblue">
                    <div class="service-item">
                        <img src="" width="75" />
                        <h4></h4>
                        <p>

                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

