@model PJ_MSIT143_team02.Models.Room

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/roomDetailStyle.css" rel="stylesheet" />

<section class="rooms-section spad">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img id="imgbox" src="~/Image/單人房1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img id="imgbox" src="~/Image/單人房2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img id="imgbox" src="~/Image/單人房3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-lg-12">
            <hr />
            <div id="nav" class="col-lg-12">
                <ul>
                    <li><a href="#roomname">房間名稱</a></li>
                    <li><a href="#roomintro">房間介紹</a></li>
                    <li><a href="#roomfacility">設施與服務</a></li>
                    <li><a href="#comment">住宿評鑑</a></li>
                    <li><a href="">地點</a></li>
                    <li style="margin-right:80px"><a href="">注意事項</a></li>
                    <li>
                        NT @Html.DisplayFor(model => model.RoomPrice)起
                    </li>
                    <li>
                        <a class="bbtn" id="addcart" href="@Url.Action("List","AddHotel",new { id =  @Html.DisplayFor(model => model.RoomId) })">
                            <span>加入購物車</span>
                        </a>
                    </li>
                </ul>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-8">
                    <div id="content">
                        <div>
                            <h4 id="roomname">北海岸海景飯店</h4>
                            <p>
                                <a href="https://goo.gl/maps/D34Roij8t3o3EzgX8" target="_blank">台北市復興南路二段449號</a>
                            </p>
                            <hr />
                            <p id="roomintro">入住完美住宿，是完美旅程的必備要素。快來享受住宿提供的客房免費Wi-Fi吧！ 住宿位於萬華區的絕佳位置，讓您輕鬆探索周遭景點。 離開前，別忘了探訪知名的台北101大樓。 這間高品質飯店被評為5星級，提供客人健身中心、餐廳和室內泳池。</p>
                        </div>
                        <div>
                            <hr />
                            <h4 id="roomfacility">重點設施</h4>
                            <br />
                            <div id="detail">
                                <figure>
                                    <img src="~/Image/bus_icon.png" />
                                    <figcaption>距離大眾運輸100公尺</figcaption>
                                </figure>
                                <figure>
                                    <img src="~/Image/Door.png" />
                                    <figcaption>24小時皆可入住</figcaption>
                                </figure>
                                <figure>
                                    <img src="~/Image/flight.png" />
                                    <figcaption>機場接送</figcaption>
                                </figure>
                                <figure>
                                    <img src="~/Image/restaurant.png" />
                                    <figcaption>早餐很棒</figcaption>
                                </figure>
                                <figure>
                                    <img src="~/Image/landscape.png" />
                                    <figcaption>景觀很棒</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div>
                            <ul class="ap-services">
                                <li class="d-flex justify-content-between align-items-center">
                                    <span>游泳池</span><img src="~/Image/swimming_icon.png" height="48" />
                                    <img src="~/Image/remove.png" height="24" />
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                    <span>健身房</span><img src="~/Image/gym_icon.png" height="48" />
                                    <img src="~/Image/remove.png" height="24" />
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                    <span>Wi-fi</span><img src="~/Image/wifi_icon.png" height="48" />
                                    <img src="~/Image/check_sign_icon.png" height="24" />
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                    <span>客房服務</span><img src="~/Image/service.png" height="48" />
                                    <img src="~/Image/remove.png" height="24" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>  
                <div class="col-lg-4">
                    <div id="sidebar">
                        <h4>優惠</h4>
                        <br />
                        @await Component.InvokeAsync("Discount")
                        <hr />
                        <h4>活動</h4>
                        <br />
                        @await Component.InvokeAsync("Activity")
                    </div>
                </div>
            </div>
            <br />
            <div class="col-lg-12 ">
                <div class="row">
                    <div id="comment">
                        <h4>評論</h4>
                        <br />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>


    </script>
}

