@model IEnumerable<PJ_MSIT143_team02.Models.Room>


@{
    ViewData["Title"] = "TestListView";
}


    <section id="room-description">

        <div class="row">
            <div class="col-md-4"></div>

            @{int count = 0;
                foreach (PJ_MSIT143_team02.Models.Room r in Model)
                {
                    count++;
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="description">
                            <img class="img1" src="~/assets/img2/steven-ungermann-aRT5UCf2MYY-unsplash.jpg" alt="#">
                            <p class="room-price" id="priceid">@r.RoomPrice</p>
                            <p class='room-status'>@r.RoomName</p>
                            <ul>
                                <li>空調</li>
                                <li>WIFI</li>
                                <li>@r.RoomIntrodution</li>
                                <li>@r.Address</li>
                            </ul>
                            <a class="bbtn" href="#">
                                <span>立即預訂</span>
                                <img class="arrow" src='~/assets/img2/Icon ionic-ios-arrow-round-forward.svg' alt='#'>
                            </a>
                            <a href="../Member/AddLikeList?ItemId=@r.RoomId">
                                <img src="~/Image/heart.png" style="width:30px ;height:30px" />
                            </a>
                        </div>
                    </div>
                };}
            <div class="col-md-4"></div>

        </div>
    </section>

@section Scripts{
    <script>
    </script>
}
