@model IEnumerable<PJ_MSIT143_team02.Models.Room>


@{
    ViewData["Title"] = "TestListView";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/rooms.css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="~/css/rooms-mobile.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/10e2f2fe75.js" crossorigin="anonymous"></script>


</head>

<body>
    @{

        int count = 0;
        foreach (PJ_MSIT143_team02.Models.Room r in Model)
        {
            count++;
            <section id="room-description">
                <div class="description">
                        <div class="description">
                            <img class="img1" src="~/assets/img2/steven-ungermann-aRT5UCf2MYY-unsplash.jpg" alt="#">
                            <p class="room-price" id="priceid">@r.RoomPrice</p>
                            <p class='room-status'>@r.RoomName</p>
                            <ul>
                                <li>空調</li>
                                <li>WIFI</li>
                                <li>@r.RoomIntrodution</li>
                                <li>@r.Address</li>
                            </ul>
                            <a class="bbtn" href="#">
                                <span>立即預訂</span>
                                <img class="arrow" src='~/assets/img2/Icon ionic-ios-arrow-round-forward.svg' alt='#'>
                            </a>
                            <a href="../Member/AddLikeList?ItemId=@r.RoomId">
                                <img src="~/Image/heart.png" style="width:30px ;height:30px" />
                            </a>
                        </div>
                </div>
            </section>
        };

    }


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

@section Scripts{
    <script>





            //let abc = document.querySelector("#test")
            //let abc = "";


    </script>
}
