/*html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}*/

/*body {
    margin: 0 auto;
    background-color: #222;
}*/

#notification #box {
    background-color:rgba(255,255,255,.96);
}