#imgbox {
    height: 500px;
}

#nav {
    margin-bottom: -25PX;
}

#nav a {
    color: darkgoldenrod;
}

#nav ul li {
    color: saddlebrown;
    display: inline;
    margin-left: 50PX;
}

#sidebar {
    background-color:blanchedalmond;
    border-radius:10px;
    padding: 20px;
}

#sidebar h4 {
    color: saddlebrown;
}

#data a {
    color: darkgoldenrod;
}

#link a {
    color: peru;
}

#link {
    font-size:14px;
}

#content {
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 20px;
}

#content h4 {
    color: saddlebrown;
}

#content a {
    color: darkgoldenrod;
}
#detail figure {
    display: inline-block;
    margin-left: 35px;
    text-align:center;
}

.carousel-control-prev {
    background-color: transparent;
    border: hidden;
}

.carousel-control-prev-icon {
    background-color: transparent;
    border: hidden;
}

.carousel-control-next {
    background-color: transparent;
    border: hidden;
}