section {
    background-image: url(../../img/background/搜好房背景圖.png);
}

#imgbox {
    height: 500px;
    border-radius: 10px;
}

#nav {
    background-color: rgba(255,250,240,0.95);
    border-radius: 10px;
}

#nav a {
    color: darkgoldenrod;
}

#nav ul li {
    color: saddlebrown;
    display: inline;
    margin-right: 18px;
    margin-left: 24px;
}

#nav .bbtn {
    display: inline-block;
    background: #514525;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    padding: 10px 19.35px 10px 19.35px;
    min-width: 100px;
}

#sidebar {
    background-color:rgba(255,250,240,0.95);
    border-radius:10px;
    padding: 20px;
}

#sidebar h4 {
    color: saddlebrown;
}

#data a {
    color: darkgoldenrod;
}

#link a {
    color: peru;
}

#link {
    font-size:14px;
}

#content {
    background-color: rgba(255,250,240,0.95);
    border-radius: 10px;
    padding: 20px;
}

#content h4 {
    color: saddlebrown;
}

#content a {
    color: darkgoldenrod;
}

#comment {
    background-color: rgba(255,250,240,0.95);
    border-radius: 10px;
    padding: 20px;
}

#comment textarea{
    padding-right: 8px;
}

.imgbox img{
    width:30px;
    height:30px;
}

#comment h4, h5 {
    color: saddlebrown;
}

#comment a {
    color: darkgoldenrod;
}

#comment .bbtn {
    display: inline-block;
    background: #514525;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    padding: 10px 19.35px 10px 19.35px;
    margin-top:10px;
    min-width: 52px;
    float:right;
}

#detail figure {
    display: inline-block;
    margin-left: 35px;
    text-align:center;
}

#carouselExampleIndicators {
    padding-top: 76px;
}

.carousel-control-prev {
    background-color: transparent;
    border: hidden;
}

.carousel-control-prev-icon {
    background-color: transparent;
    border: hidden;
}

.carousel-control-next {
    background-color: transparent;
    border: hidden;
}