@model List<PJ_MSIT143_team02.Models.Discount>

@{
    //ViewData["Title"] = "Discount";
}

    <div class="row">
        @foreach (var item in Model)
            {
                <div class="col-lg-12">
                    <div class="breadcrumb-text" style="text-align:left">
                        <a href='@Url.Action("Details","Discount", new { id = item.RoomDiscountId })'>@item.DiscountName</a>
                    </div>
                </div>
            }
    </div>

