@model List<PJ_MSIT143_team02.Models.Image>

@{
    //ViewData["Title"] = "Image";
}

<div class="carousel-inner">
    @foreach (var item in Model)
    {
        <div class="carousel-item active">
            <img id="imgbox" src="@Url.Action("RoomImage","Room", new { id = item.ImageId })" class="d-block w-100">
        </div>
    }
</div>